* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(https://ogimg.infoglobo.com.br/in/15467669-e96-d9b/FT1086A/adventure-time-screensaver-hd-widescreen-3-1080p.jpg);
    color: #3b90dbf6; 
}

header {
    background: #1976d2; /* Azul médio */
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #bbdefb; /* Azul mais claro para hover */
}

section {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foto-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.galeria img {
    width: calc(25% - 10px);
    height: 300px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #1976d2; /* Azul médio */
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1976d2; /* Azul médio */
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
